*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --main-font: "Mulish", sans-serif;
    --background-color: #2B2A4C; 
    --light-color: #EEE2DE;
    --red-color: #B31312;
    --secondary-color: #EA906C;
}

body{
    font-family: var(--main-font);
    background-color: var(--background-color);
    color: #fff;
}

.btn-primary{
    background-color: var(--background-color);
    border: none;
}

.btn-primary:hover{
    background-color: #3e3e5a;
}

.bg-principal{
    background-color: var(--background-color);
}

.bg-main-red{
    background-color: var(--red-color);
}
.text-light-color{
    color: var(--light-color);
}

.text-primary-color{
    color: var(--background-color);
}


.add-note-btn:hover{
    background-color: #d81616;
}

